
@use "sass:map";


// 上へボタン
@mixin scrolltop() {
  text-align: center;
  text-decoration: none;
  margin: 0;
  display: block;
  box-sizing: content-box;
  position: fixed;
  z-index: 9999;
  @content;
}





